/* SPLASHSCREEN */
.wrapper{
    height: 100vh;
    vertical-align: middle;
    align-content: center;
}

.splashscreen{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background-color: #35353a;
    text-align: center;
    opacity: 99%;
    transition: opacity 0.3s;
    z-index: 1;
}

#splashtext{
    color: white;
    padding: 0 0 0 0;
    margin-top: 50vh;
}